.clock {
    --bg-hue: 0;

    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 300px;
    height: 300px;
    margin: 0 auto;
    border-radius: 50%;
    border: 4px solid white;
    background: radial-gradient(
            circle at center,
            hsl(var(--bg-hue), 20%, 20%) 63%,
            transparent 63%
        ),
        conic-gradient(
            white 0deg 1deg,
            hsl(var(--bg-hue), 20%, 20%) 1deg 29deg,
            white 29deg 31deg,
            hsl(var(--bg-hue), 20%, 20%) 31deg 59deg,
            white 59deg 61deg,
            hsl(var(--bg-hue), 20%, 20%) 61deg 89deg,
            white 89deg 91deg,
            hsl(var(--bg-hue), 20%, 20%) 91deg 119deg,
            white 119deg 121deg,
            hsl(var(--bg-hue), 20%, 20%) 121deg 149deg,
            white 149deg 151deg,
            hsl(var(--bg-hue), 20%, 20%) 151deg 179deg,
            white 179deg 181deg,
            hsl(var(--bg-hue), 20%, 20%) 181deg 209deg,
            white 209deg 211deg,
            hsl(var(--bg-hue), 20%, 20%) 211deg 239deg,
            white 239deg 241deg,
            hsl(var(--bg-hue), 20%, 20%) 241deg 269deg,
            white 269deg 271deg,
            hsl(var(--bg-hue), 20%, 20%) 271deg 299deg,
            white 299deg 301deg,
            hsl(var(--bg-hue), 20%, 20%) 301deg 329deg,
            white 329deg 331deg,
            hsl(var(--bg-hue), 20%, 20%) 331deg 359deg,
            white 359deg 360deg
        );

    &:after {
        content: "";
        position: absolute;
        border-radius: 50%;
        width: 4%;
        height: 4%;
        background: white;
    }

    &.alarm {
        animation: alarm steps(2) 1s infinite;
    }
}

@keyframes alarm {
    from {
        background: radial-gradient(
                circle at center,
                hsl(var(--bg-hue), 20%, 20%) 63%,
                transparent 63%
            ),
            conic-gradient(
                white 0deg 1deg,
                hsl(var(--bg-hue), 20%, 20%) 1deg 29deg,
                white 29deg 31deg,
                hsl(var(--bg-hue), 20%, 20%) 31deg 59deg,
                white 59deg 61deg,
                hsl(var(--bg-hue), 20%, 20%) 61deg 89deg,
                white 89deg 91deg,
                hsl(var(--bg-hue), 20%, 20%) 91deg 119deg,
                white 119deg 121deg,
                hsl(var(--bg-hue), 20%, 20%) 121deg 149deg,
                white 149deg 151deg,
                hsl(var(--bg-hue), 20%, 20%) 151deg 179deg,
                white 179deg 181deg,
                hsl(var(--bg-hue), 20%, 20%) 181deg 209deg,
                white 209deg 211deg,
                hsl(var(--bg-hue), 20%, 20%) 211deg 239deg,
                white 239deg 241deg,
                hsl(var(--bg-hue), 20%, 20%) 241deg 269deg,
                white 269deg 271deg,
                hsl(var(--bg-hue), 20%, 20%) 271deg 299deg,
                white 299deg 301deg,
                hsl(var(--bg-hue), 20%, 20%) 301deg 329deg,
                white 329deg 331deg,
                hsl(var(--bg-hue), 20%, 20%) 331deg 359deg,
                white 359deg 360deg
            );
    }

    to {
        background: radial-gradient(
                circle at center,
                hsl(var(--bg-hue), 20%, 30%) 63%,
                transparent 63%
            ),
            conic-gradient(
                white 0deg 1deg,
                hsl(var(--bg-hue), 20%, 30%) 1deg 29deg,
                white 29deg 31deg,
                hsl(var(--bg-hue), 20%, 30%) 31deg 59deg,
                white 59deg 61deg,
                hsl(var(--bg-hue), 20%, 30%) 61deg 89deg,
                white 89deg 91deg,
                hsl(var(--bg-hue), 20%, 30%) 91deg 119deg,
                white 119deg 121deg,
                hsl(var(--bg-hue), 20%, 30%) 121deg 149deg,
                white 149deg 151deg,
                hsl(var(--bg-hue), 20%, 30%) 151deg 179deg,
                white 179deg 181deg,
                hsl(var(--bg-hue), 20%, 30%) 181deg 209deg,
                white 209deg 211deg,
                hsl(var(--bg-hue), 20%, 30%) 211deg 239deg,
                white 239deg 241deg,
                hsl(var(--bg-hue), 20%, 30%) 241deg 269deg,
                white 269deg 271deg,
                hsl(var(--bg-hue), 20%, 30%) 271deg 299deg,
                white 299deg 301deg,
                hsl(var(--bg-hue), 20%, 30%) 301deg 329deg,
                white 329deg 331deg,
                hsl(var(--bg-hue), 20%, 30%) 331deg 359deg,
                white 359deg 360deg
            );
    }
}

.clock__bkg {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.clock__hours {
    height: 100px;
    width: 4px;
    position: absolute;
    background: #8f8f8f;
    transform: translateY(-40%);
    transform-origin: 50% 90%;
    clip-path: polygon(0 20%, 50% 0, 100% 20%, 100% 100%, 0% 100%);
    transition: transform 0.2s;
}

.clock__minutes {
    height: 125px;
    width: 4px;
    position: absolute;
    background: #8f8f8f;
    transform: translateY(-40%);
    transform-origin: 50% 90%;
    clip-path: polygon(0 20%, 50% 0, 100% 20%, 100% 100%, 0% 100%);
    transition: transform 0.2s;
}

.clock__seconds {
    height: 130px;
    width: 2px;
    position: absolute;
    background: black;
    transform: translateY(-40%);
    transform-origin: 50% 90%;
    transition: transform 0.35s cubic-bezier(1, 1.76, 0.54, 0.55);
}

.clock__snooze {
    position: absolute;
    bottom: 20%;
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0.1em;
    font-weight: 700;
}
